/* universel */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* My colors*/
:root{
	--orange: #f39c12;
	--red: #e74c3c;
	--grey: #e6e6e6;
	--textColor: #737373;
	--lightOrange: #f5e8d4;
	--tablelight: #dad9d9;
	--tablesoft: #e6e6e6;
}


body {
	font-family: 'Open Sans', sans-serif;
}

/* Main section
-------------------------------------------------------*/

/* Header section */
div.image {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgba(65,72,97,0.7),rgba(65,72,97,0.6)),url('../images/bg4.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: -105px;
}


header.header-main {
	width:100%;
	margin:0 auto;
	margin-top: 15px;
	position: relative;
	z-index: 1;
}

/* -------------logo------------- */
header span.logo{	
	background-image: url(../icons/Mini-logo.png);
    background-repeat: no-repeat;
    background-size: 80px;
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-left: 4%;
	}

/* -------------navigation bar------------- */

header .main-nav {
	float:right;
	line-height: 80px;
    width: 80%;
}

header .main-nav ul {
	list-style-type: none;
	color: #FFF;
	text-transform: uppercase;
	float: right;
	margin-right: 4%;
}

header .double-backslash {
	margin:0 15px;
}

header .main-nav ul li{
	float: left;
}

header .main-nav ul li a{
	color: #FFF;
	text-decoration: none;
}

header .main-nav ul li a:hover{
	color: #000;
}

header.header-main:after {
	content: '';
	display: block;
	clear: both;
}

/* -------------mid section------------- */
.mid-section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #FFF;
	text-align: center;
	width: 100%;
}

.mid-section span{
	text-transform: uppercase;
	line-height: 25px;
	font-size: 25px;
	letter-spacing: 1px;
	padding: 10px;
}

.mid-section h1{
	text-transform: uppercase;
	line-height: 25px;
	font-size: 42px;
	letter-spacing: 2px;
	margin: 10px 0;
}

.mid-section .button {
	border:2px solid #FFF;
	padding:5px 10px;
	position: relative;
	font-size: 100%;
	top:50px;
}

#main-section .button:hover {
	background-color: var(--orange);
	cursor: pointer;
}

#main-section > div {
	position: relative;
}

/* About
-------------------------------------------------------*/

/* header */
#about-section{
	width:80%;
	margin:0 auto;
}

header.header-about {
	position: relative;
    top: 100px;
}

.header-about span {
	text-transform: uppercase;
	font-weight: bold;
	border-right: 4px solid var(--orange);
	float: left;
	display: block;
	font-size: 25pt;
	padding:5px 14px; 
	margin-right: 10px;
}

.header-about p {
	text-transform: uppercase;
	font-size: 10pt;
	color: var(--textColor);
	padding-top: 10px;
	margin-left: 160px;
}
/* -------------our story------------- */
section.about-bloc1 {
	margin-top: 250px;
	position: relative;
	border-bottom: 3px solid var(--grey);
	padding-bottom: 30px;
}

.red-text{
	color: var(--red);
	display: block;
	margin-bottom: 20px;
}

.about-bloc1 h1 {
	text-transform: uppercase;
	line-height: 25px;
	font-size: 30px;
	letter-spacing: 2px;
	margin: 10px 0;
	font-family: Arial,opensansbold;
}

div.ourstory-icon {
	background-image: url(../icons/lampe.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
	width: 90px;
	height: 90px;
	border: 2px solid var(--orange);
	border-radius: 50%;
	margin-top: 15px;
	margin-right: 10px;
	float: left;
}

article.our-story p {
	color: var(--textColor);
}

#about-section > section.about-bloc2 > aside > div.bar-progress p {
	text-align: left;
	margin: 0;
}

article.our-story {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}

.ourstory-div {
	width: 40%;
	float: left;
}
article .camera {
	width: 50%;
}
article .camera img{
	width: 100%;
	margin-top: 30px;
}

.our-story:after {
	content: '';
	display: block;
	clear: both;
}
/*-------------about bloc2-------------*/
.about-bloc2 {
	max-width: 100%;
	margin-top: 30px;
}

.about-bloc2 aside {
	width:40%;
	float: right;

}

.about-bloc2 aside h1 {
	text-transform: uppercase;
	line-height: 25px;
	font-size: 20px;
	letter-spacing: 1px;
	margin: 10px 0;	
}
.about-bloc2 aside p {
	text-transform: uppercase;
	font-size: 10pt;	
	color: var(--textColor);
	width:100%;
	margin-left: 95px;
}

.about-bloc2 aside .paramas-icon{
	background-image: url(../icons/params.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
	width: 90px;
	height: 90px;
	border: 2px solid var(--orange);
	border-radius: 50%;
	margin-top: 15px;
	margin-right: 10px;
	float: left;	
}

.skills-img img{
	width: 45%;
	float: left;
	margin-top: 50px;
}

.about-section:after {
	content: '';
	display: block;
	clear: both;
}

#about-section > section.about-bloc2 > aside > div:nth-child(1) > p {
	margin-left: 100px;
}

/* -------------progress bar------------- */
.bar-progress {
	margin-top: 60px;
	margin-left: 20px;
}

.bar-progress div.bar1 img,
.bar-progress div.bar2 img,
.bar-progress div.bar3 img,
.bar-progress div.bar4 img {
	width: 100%;
	height: 10px
}

.bar-progress div.bar1 span,
.bar-progress div.bar2 span,
.bar-progress div.bar3 span,
.bar-progress div.bar4 span {
	color: black;
	font-weight: bold;
} 

#about-section:after {
	content:'';
	display: block;
	clear: both;
}
/* team
-------------------------------------------------------*/
.showcase1 {
	margin-top: 100px;
	width: 100%;
	height: 400px;
	background-image:linear-gradient( rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/Layer1.psb);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transform: skewY(-3deg);
	position: relative;
}


.showcase1-text{
	color: #FFF;
	text-align: center;
	transform: skewY(3deg);
	position: absolute;
	top: 30%;
	left: 25%;
	font-size: 34px;
}

.showcase1-text span {
	width: 50px;
	height: 4px;
	display: block;
	background-color: var(--orange);
	position: absolute;
	left: 48%;
}

.showcase1-text p:nth-of-type(2){
	text-transform: uppercase;
	margin-top: 5px;
}

#team-section {
	max-width: 80%;
	margin: 0  auto;
}

#team-section header:after{
	content: '';
	display: block;
	clear: both;
}

div.showcase1 div.showshow1 {
	left: 10%;
	right: 10%;
}
/* -------------CARDS-------------*/
section.cards-block {
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.socialicons{
	width :70%;
	margin-left: 10%;
}
section.cards-block .card1 {
	width: 20%;
	margin-top: 150px;
}

section.cards-block .card1 figure img{
	width: 80%;
	margin: 15px auto 5px 15px;
}

section.cards-block .card1 figure figcaption{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
section.cards-block .card1 figure span{
	text-align: center;
	color: var(--textColor);
	font-size: 14px;
	display: block
}


.greyligne {
	width: 20px;
	height: 5px;
	background-color: var(--textColor);
	margin: 5px auto;
	border-radius: 2px;
}

section.cards-block .card1 p{
	text-align: center;
	color: grey;
	margin-bottom: 20px;
}
section.cards-block .card1:hover {
	box-sizing: border-box;
	background-color: var(--grey);
	border-top: 2px solid var(--orange);
	border-collapse: separate;
	cursor: pointer;
	margin-top: 148px;
}

section.cards-block .card1:hover .greyligne{
	background-color: var(--red)	
}

section.cards-block .card1 div.greyline {
	width: 20%;
}

section.cards-block .card1 div.icounetsocial{
	width: 100%;
}

section.cards-block .card1 div img{
	display: inline-block;
	width:8%;
	filter: grayscale(100%);
}

section.cards-block .card1 div img:nth-child(2){
	width:5%;
}
section.cards-block .card1 div img:hover{
	filter: grayscale(0%);
}
/* SERVECISE
-------------------------------------------------------*/
.showcase2 {
	width: 100%;
	transform: skewY(3deg);
	display: flex;
	justify-content: space-around;
	height: 400px;
	align-items: center;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}
.showcase2 span {
	font-weight: normal;
	font-size: 18px;
}

.showcase2 .circle {
	width: 20%;
	text-align: center;
}

.showcase2 .circle img {
	margin-top: 32%;
	width: 30%;
	height: 30%;
}

.showcase2 .circle:hover {
	cursor: default;
}

.showcase2 .circle .fig1{
	height:100px;
	width: 100px;
	border: 2px solid var(--orange);
	border-radius: 50%;
	margin:0 auto;
	margin-bottom: 30px;
}

.showcase2 .circle:hover .fig1 {
	border: 2px solid var(--lightOrange);
	cursor: default;
}

.showcase2 .circle p{
	color: #FFF;
	font-size: 30px;
}

#services-section {
	width: 100%;
	margin: 0 auto;
}

#services-section .header-about {
	width: 80%;
	margin:0 auto;
	margin-top: 80px;
	margin-bottom: 150px;
}

#services-section section.cards {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	border-bottom: 4px solid var(--grey);
	padding-bottom: 50px;
}

#services-section section.cards .card1{
	width: 30%;
	text-align: center;
}
#services-section section.cards .card1 figure{
	height:80px;
	width: 80px;
	border: 2px solid var(--orange);
	border-radius: 50%;
	margin: 15px auto;
	font-weight: bold;
	text-transform: uppercase;
}

#services-section > header > p {
	margin-left: 211px;
}

#services-section section.cards .card1 figure figcaption{
	margin: 2px -5px;
}

#services-section section.cards .card1 figure img{
	margin: 24px;
	margin-top: 30%;
}

#services-section section.cards .card1 p{
	margin: 39px 0px;
	color: var(--textColor);
}

#services-section section.cards .card1 figure img:nth-child(even) {
	display: none;
}

#services-section section.cards .card1:hover figure img:nth-child(even) {
	display: block;
	margin-bottom: 31px;
}

#services-section section.cards .card1:hover figure img:nth-child(odd) {
	display: none;
}


#services-section section.cards {
	border-bottom: 3px solid var(--grey);
}

#services-section section.cards2 {
	width: 80%;
	margin: 0 auto;
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

#services-section section.cards2 div.card {
	width: 35%;
	text-align: left;
}

#services-section section.cards2 div.card figure { 
	height: 80px;
	width: 80px;
	border: 2px solid var(--orange);
	border-radius: 50px;
}

#services-section section.cards2 div.card figure img {
	width: 40px;
	margin: 20px;
}

#services-section section.cards2 div.card figure img:nth-child(even) {
	display: none;
}

#services-section section.cards2 div.card:hover figure img:nth-child(odd) {
	display: none;
}

#services-section section.cards2 div.card:hover figure img:nth-child(even) {
	display: block;
	margin-bottom:25px;
}

#services-section section.cards2 div.card figure figcaption {
	width: 200%;
	font-weight: bold;
}

#services-section section.cards2 div.card p{ 
	margin-top: 45px;
	color: var(--textColor);
}


/* basic silver gold*/

.basic-gold-silver {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	text-transform: capitalize;
	width: 65%;
}

.bgs {
	width: 30%;
	word-wrap: break-word;
	border: 1px solid var(--grey);
	align-content: stretch;
}

.basic-gold-silver .bgs p span.chalta {
	display: inline-block;
    width: 40px;
    height: 2px;
    background-color: var(--orange);
    margin: 7px;
}

.basic-gold-silver .bgs p span.button {
	border: 2px solid var(--orange);
	padding: 0 5px;
	font-size: 10px;
	font-weight: bold;
}

.basic-gold-silver .bgs p {
	padding: 10px;
}

.basic-gold-silver .bgs p:first-child{
	font-weight: bold;
}

.basic-gold-silver .bgs p span.button:hover {
	color: #FFF;
	background-color: var(--orange);
	cursor: pointer;
}

.bgs p:nth-child(even) {
	background-color: var(--tablesoft);
}

.bgs:nth-child(2) p:nth-child(even) {
	background-color: var(--tablelight);
}

.bgs:nth-child(2) p:first-child span , .bgs:nth-child(2)  p:first-child{
	background-color: #FFF;
	color: #FFF;
}

.bgs:nth-child(2) p:first-child {
	background-color: var(--orange);
}

/* Portfolio-section
--------------------------------------------------*/
div.showcase2-text{
	width:80%;
	font-size: 12px;
	text-align: center;
	margin: 5px -15%;
	line-height: 24px;
}

#portfolio-section > header > p {
	margin-left: 230px;
}

.showcase2-text p:first-child {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

.showcase2-text p:last-child {
	font-size: 10px;
}
.showcase2-text img {
	width:80px;
	height: 80px;
	border: 2px solid #FFF;
	border-radius: 50%;
	margin-top: 10px;
}

.header-about:after{
	content: '';
	display: block;
	clear: both;
}

div.showcase2-text span {
	position: relative;
	bottom: 10px;
	left:48%;
}

#portfolio-section {
	width: 80%;
	margin: 0 auto;
}

#portfolio-section img[alt="photoxd"] {
	width:100%;
	height: 100%;
	margin-top: 180px;
}

#portfolio-section hr {
	margin: 50px 0 ;
	height: 3px;
	background-color: var(--grey);
	text-align: center;
}
.img-group nav {
	margin-bottom: 30px;
}
.img-group nav ul {
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
}

.img-group li{
	text-decoration: none;
	display: inline-block;
}	

.img-group li a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}	

.img-group li a:hover{
	color: var(--orange)
}

.img-group .double-backslash{
	color: var(--grey);
	font-weight: bold;
}	


.active {
	color: var(--orange) !important;
}

.img-grid {
	width: 100%;
	text-align: center;
}

.img-grid figure {
	width: 24%;
	display: inline-block;
}

.img-grid figure img{
	width: 100%;
}

.img-grid figure figcaption{
	text-transform: capitalize;
	font-weight: bold;
}

.img-grid figure figcaption span {
	font-weight: normal;
	color: var(--textColor);
	font-size: 12px;
}

.img-grid figure img:nth-child(even) {
	display: none;
}

.img-grid figure:hover img:nth-child(odd) {
	display: none;
}

.img-grid figure:hover img:nth-child(even) {
	display: block;
	margin-bottom: 4px;
}

.img-grid figure:hover figcaption{
	color: var(--orange);
}
.img-grid figure:hover {
	cursor: pointer;
}


.showcase3-text{
    left: 8%;
    right: 6%;
    top: 25%;
    font-size: 18px;
}

.showcase3-text p {
	text-align: center;
	line-height: 25px;
}

.showcase3-text p span {
    width: 0;
    height: 0;
    display: initial;
    position: initial;
    background: none;
    color: var(--orange);
}

.showcase3-text p:last-child {
	margin-top: 20px;
	color: var(--grey);
	font-weight: normal;
	font-size: 14px;

}

/* Blog section
-----------------------------------------------------------*/
.blog-section {
	width: 80%;
	margin: 0 auto;
}

/* contact section
-----------------------------------------------------------*/
.fourimages {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) skewY(3deg);
    width: 100%;
}

.fourimages img{
	width: 80%;
	margin-top: 6%;
}

.control-p p{
	transform: skewY(0deg);
	color: #FFF;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom:	-5%;
}

.contact-section {
	width: 80%;
	margin: 0 auto;
}

#contact-section > header > p {
	margin-left: 200px;
}

.contact-section .bloc2 {
	margin-top: 180px;
}

.contact-section .bloc2 form {
	width:50%;
	float: left;
	margin-top: 0;
}
.contact-section .bloc2 form:after {
	content: '';
	display: block;
	clear: both;
}

.contact-section .bloc2 article {
	width:50%;
	display:inline-block;
	float: left;
	color: var(--textColor);
}
.contact-section .bloc2 form h1 {
	text-transform: uppercase;
}

.contact-section .bloc2 article h1{
	color: black;
	text-transform: uppercase;
}

.contact-section .bloc2 article div p {
	display: inline-block;
	word-wrap: break-word;
	font-size: 12px;
	line-height: 10px;
	width: 80%;
}
.contact-section .bloc2 article div img {
	position: relative;
    top: 17px;
}

.bloc2 form input[type="text"]{
	width: 80%;
	height: 30px;
	margin:5px 0;
	padding: 0 10px;
	outline: none;
}
.bloc2 form input[type="email"]{
	width: 80%;
	height: 30px;
	margin:5px 0;
	padding: 0 10px;
	outline: none;
}

.bloc2 form textarea{
	width: 80%;
	height: 30px;
	margin: 5px 0;
	padding: 5px 10px;
	height: 80px;
	outline: 0;
}

.bloc2 form input[type="submit"]{
	width: 20%;
	height: 30px;
	margin:5px 0;
	padding: 5px 10px;
	border: 2px solid;
	border-color: var(--orange);
	cursor: pointer;
	outline: none;
}

.bloc2 form input:hover{
	border: 2px solid var(--orange);
}
.bloc2 form textarea:hover{
	border: 2px solid var(--orange);
}

.blog-camera {
	width: 100%;
	margin: 0 auto;
	margin-top: 30%;
	text-align: center;
}

.blog-camera div.bloc1 {
	width: 45%;
	display: inline-block;
	margin-bottom: 50px;
}
.blog-camera div.bloc1 figure {
	width: 100%;
	position: relative;
}

.blog-camera div.bloc1 figure img{
	width: 100%;
}

.blog-camera div.bloc1 figcaption {
	text-align: left;
	font-size: 12px;
	color: var(--textColor);
	width: 20%;
	float: left;
}

.blog-camera div.bloc1 figure h1 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	font-size: 18px;
	background-color: #FFF;
	border: 2px solid #FFF;
	padding: 5px 10px;
	text-transform: uppercase;
	text-align: left;
}

.blog-camera div.bloc1 .bloc1-box p{
	width: 70%;
	padding: 5px 10px;
	text-align: left;
	float: right;
	color: var(--textColor);
	text-transform: uppercase;
	font-size: 14px
}

.blog-camera div.bloc1 .bloc1-box p:after{
	content:'read on';
	color:black;
	border: 2px solid var(--orange);
	padding: 5px 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 30%;
	margin-top: 5%;
}
.blog-camera div.bloc1 .bloc1-box p:hover:after {
	background-color: var(--orange);
	color: #FFF;
	cursor: pointer;
}

#map {
    width: 100%;
    height: 400px;
	width: 100%;
	height: 300px;
	transform: skewY(-3deg);
	position: relative;
	top: 50px;
    }
/* Footer
------------------------------------------*/
footer {
	width: 80%;
    margin: 0 auto;
    margin-top: 90px;
}

footer div {
	width: 60%;
	float: left;
}
footer span:first-child {
	color: black;
	text-transform: uppercase;
	font-size: 12px;
	border-right: 5px solid var(--textColor);
	padding-right: 8px;
}

footer span:last-of-type {
	color: black;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 8px;
}

footer figure {
	display: inline-block;
	float: right;
	width:40%;
	text-align: right;
}

footer figure img{
	padding: 0 5px;
	width: 25px;
	filter: grayscale(100%);
}
footer figure img:hover{
	filter: grayscale(0%);
	cursor: pointer;
}

footer figure img:nth-child(2){
	padding: 0 5px;
	width: 20px;
}

footer::after {
	content: '';
	display: block;
	clear: both;
	margin-bottom: 3%;
}
/************************ Tablet styles*/
@media all and (max-width: 991px)
{
	.img-grid figure {
		width: 48%;
	}

	header .logo span {
		left: -8%;
	}

	article.our-story {
		flex-direction: column;
	}
	.ourstory-div {
		width:100%;
	}

	article .camera {
		width: 100%;
	}

	.about-bloc2 {
		display: flex;
   		flex-direction: column;
	}

	.about-bloc2  .skills-img img {
		float: none;
	}

	.about-bloc2 aside{
		width: 100% !important;
	}

	.about-bloc2 aside > div:nth-child(1) {
		float: left;
   		width: 40% !important;
   		margin-top: 60px;
	}

	.bar-progress {
		float: right;
		width: 40%;
	}

	div.skills-img {
		text-align: center;
	}

	.about-bloc2 aside {
		float: none !important;
		margin: 0 auto;
		width: 50%;
	}

	.skills-img	img {
		margin-bottom: 5%;
	}

	footer {
		display: flex;
		flex-direction: column;
		text-align:	center;
	}

	body > footer > div {
		width: 100%;
	}

	body > footer > figure {
		margin: 0 auto;
		margin-top: 12px;
		width: auto;
	}

	body > div:nth-child(3) > div {
		top: 20%;
		font-size: 28px;
	}

	#about-section > header ,
	#team-section > header ,
	#services-section > header ,
	#portfolio-section > header ,
	#blog-section > header ,
	#contact-section > header {
		text-align: center;
	}

	#about-section > header > span ,
	#team-section > header > span ,
	#services-section > header > span ,
	#portfolio-section > header >span ,
	#blog-section > header > span ,
	#contact-section > header > span { 
		margin: 0 auto;
   		display: inline-block;
   		float: none;
   		border: none;
   		border-bottom: 4px solid var(--orange);
	}

	#about-section > header > p ,
	#team-section > header > p ,
	#services-section > header > p ,
	#portfolio-section > header > p ,
	#blog-section > header > p ,
	#contact-section > header > p {
		margin: 0 auto;
	}
}

/************************ Mobile styles*/
@media all and (max-width: 768px)
{
	.img-grid figure {
		width: 100%;
	}

	#portfolio-section > section > div > figure(1) {
		margin-bottom: 25px;
	}

	section.cards-block {
		flex-wrap: wrap;
	}

	section.cards-block .card1 {
		width: 48%;
	}
	.blog-camera div.bloc1{
		width: 90%;
	}

	.navbarnoir {
		background-color: #404040 !important;
	}

	.mid-section h1 {
    	font-size: 27px;
	}

	.mid-section span {
  	  font-size: 25px;
	}

	.burger-nav {
		display: block;
		background: url(../icons/Hamburger.png) no-repeat 98% center;
		background-size: 8%;
		height: 50px;
		cursor: pointer;
   		width: 100vw;
    	margin-left: -25%;
    	padding: 54px 0px;
   		margin-top: -18px;
	}

	#main-section > header > nav > ul > li:nth-child(11) > a {
		border: none;
	}

	header span.logo {
		position: absolute;
	}

	header .main-nav ul {
		margin: 0;
		overflow: hidden;
		background-color: #505050;
		text-align: left;
		width: 100vw;
   		height: 0;
   		line-height: 25px;
	}

	header .main-nav ul li{
		float: none;
		text-align: left;
		margin: 0;
		width: 100%;
		padding: 10px 20px;
	}

	header .main-nav ul li a{
		padding: 10px;
		color: #FFF;
		display: block;
		border-bottom: 1px solid #404040;
		margin: 0;
	}

	header .main-nav ul.open {
		height: auto;
	}

	#main-section > header > nav > ul li:nth-child(even) {
		display: none !important;
	}


	.about-bloc2 aside > div:nth-child(1) {
		float: none;
   		width: 70% !important;
   		margin-top: 60px;
	}

	.bar-progress {
		float: none;
		width: 70%;
		margin: 0 auto;
		margin-top:	50px;
	}

	#services-section > section.cards2 {
		flex-direction: column;
	}

	#services-section > section.cards2 > div.card{
		width: 100%;
		margin-bottom: 8%;
		text-align: center;
	}

	#services-section > section.cards2 > div.basic-gold-silver {
		width: 100%;
	}

	#services-section > section.cards2 > div.card > figure > figcaption {
		margin-left: -24%;
	}

	#services-section > section.cards2 > div.card > figure {
		margin: 0 auto;
	}

	#contact-section > section > form {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}

	#contact-section > section > article {
		width: 100%;
		float : none;
	}

	#services-section > section.cards {
		flex-direction: column;
		margin:	0 auto;
	}

	#services-section > section.cards > div{
		width: 80% !important;
		margin:	0 auto;
	}

	#contact-section > section {
		display: flex;
		flex-direction: column-reverse;
	}

	#contact-section > section > article {
		margin-bottom: 40px;
	}
}

/************************ small styles*/
@media all and (max-width: 480px)
{

	section.cards-block {
		flex-wrap: wrap;
	}

	section.cards-block .card1 {
		width: 51%;
	}

	.mid-section h1 {
    	font-size: 18px;
	}

	.mid-section span {
  	  font-size: 16px;
	}
}



























